body{
  background:rgba(161, 124, 124, 0.664);
}
.App {
  text-align: center;
}
a:hover{
  cursor: pointer;
  color:rgba(165, 35, 30, 0.867)!important;
}
.col{
background: #eee;
padding: 10px;
margin-left: 10px;
}
.list-card-details:hover{
  background: rgb(170, 218, 160);
}
/* button */
.btn-info,.btn-sm{
float: right;
}


.container{
  margin-top: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 .modal{
  display: block !important;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
