body{
  background:rgba(214, 209, 141, 0.774);
}
.App {
  text-align: center;
}
.list-cards{
  margin-left: 0px !important;
}
/* Header */
.navbar{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: goldenrod;
}

a:hover{
  cursor: pointer;
  color:rgba(165, 35, 30, 0.867)!important;
}
/* botton + Add card */
.add-card{
  float: right;
  margin-right: 15px;
  font-size: initial;
  font-style: oblique;
  font-weight: bold;
}
/* card in coumns */
.col{
background: #eee;
padding: 10px;
margin-left: 10px;
}
/* card hover*/
.list-card-details:hover{
  background: rgb(170, 218, 160);
}
/* button */
.btn-info,.btn-sm{
float: right;
margin-left: 6px;
}
/* button for textArea form modal*/
.btn-primary{
float: right;
}

/* Form in modal card */
.form-control{
  display: inline !important;
}

.badge{
  margin-left: 6px;
}

.container{
  margin-top: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* modal window */
  .modal{
  display: block !important;
}  

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
